.card-adv {

    &__list {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media(max-width: $breakpoint1024) {
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            column-gap: 10px;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media(max-width: $breakpoint1024) {
            max-width: 160px;
            width: 100%;
        }
        @media(max-width: $breakpoint480) {
            max-width: 140px;
        }
        @media(max-width: $breakpoint375) {
            max-width: 120px;
        }
    }
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 84px;
        height: 84px;
        border-radius: 100%;
        background: #fff4f2;

        @media(max-width: $breakpoint1280) {
            width: 60px;
            height: 60px;
        }

        & img {
            @media(max-width: $breakpoint1280) {
                width: 30px;
            }
        }
    }
    &__name {
        margin-top: 7px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.4;
        text-align: center;
        color: $main-text;

        @media(max-width: $breakpoint1024) {
            font-size: 12px;
        }
    }
}