.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media(max-width: $breakpoint480) {
        gap: 16px;
    }

    &__list {
        display: flex;
    }
    &__link {
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        color: #fff;

        @media(max-width: $breakpoint480) {
            font-size: 12px;
        }
    }
}