.hits {
    position: absolute;
    top: 20px;
    right: 20px;

    border-radius: 6px;
    padding: 12px 20px 14px 20px;
    background: #fdfcfa;

    @media(max-width: $breakpoint1280) {
        padding: 8px 14px 8px 14px;
    }
    @media(max-width: $breakpoint1024) {
        top: 14px;
        right: 14px;
    }
    @media(max-width: $breakpoint768) {
        top: 10px;
        right: 10px;

        border-radius: 4px;
        padding: 8px;
    }

    &__title {
        font-family: $font-title;
        font-weight: 500;
        font-size: 18px;
        line-height: 144%;
        text-transform: uppercase;
        color: $black;

        @media(max-width: $breakpoint1280) {
            font-size: 16px;
        }
        @media(max-width: $breakpoint1024) {
            font-size: 14px;
        }
        @media(max-width: $breakpoint768) {
            font-size: 11px;
        }
    }
}