.information-tabs {
    margin-top: 40px;

    display: flex;
    gap: 10px;

    @media(max-width: $breakpoint768) {  
        margin-top: 20px;
        gap: 2px;
    }
    @media(max-width: $breakpoint480) {  
        overflow-x: scroll;
    }

    &__item {
        display: flex;
        flex-shrink: 0;
    }
    &__link {
        display: flex;
        border-radius: 100px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 17px 20px;

        font-weight: 600;
        font-size: 13px;
        text-transform: uppercase;
        color: $black;

        @media(max-width: $breakpoint768) {  
            padding: 12px;
            font-size: 11px;
        }

        &--active {
            color: #fff;
            background: $black;
            border: 1px solid $black;
        }
    }
}