.modal {
    $modal-width: 526px;

    opacity: 0;

    &.active {
        opacity: 1;

        &::before {
            pointer-events: all;
        }
        & .modal__body {
            pointer-events: all;
        }
    }

    &__body {
        position: fixed;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        z-index: 8;
        pointer-events: none;


        &--form {
            max-width: $modal-width;
            width: 100%;
    
            @media(max-width: $breakpoint768) {
                width: min(92%, $modal-width);
            }
        }
        &--success {
            max-width: $modal-width;
            width: 100%;
    
            @media(max-width: $breakpoint768) {
                width: min(92%, $modal-width);
            }
        }
        &--small {
            top: 170px;
            transform: translateY(0);
            width: min(90%, $modal-width);
            height: 156px;
        }
    }

    &__wrapper {
        position: relative;
        background: #fff;
        border-radius: 40px;

        &--form {
            padding: 50px 100px;

            @media(max-width: $breakpoint768) {
                border-radius: 10px;
                padding: 40px 24px;
            }
        }
        &--success {
            padding: 100px 60px;

            @media(max-width: $breakpoint768) {
                border-radius: 10px;
                padding: 110px 50px;
            }
            @media(max-width: $breakpoint375) {
                padding: 110px 30px;
            }
        }
        &--small {
            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 10px;
            height: inherit;
        }
        &--search {
            padding: 0 20px;
        }
    }

    &__title {
        font-family: $font-title;
        font-weight: 600;
        font-size: 30px;
        line-height: 133%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        text-align: center;
        color: $black;

        @media(max-width: $breakpoint768) {
            font-size: 22px;
        }
    }
    &::before {
        content: '';
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100vw;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(3px);
        z-index: 7;
        pointer-events: none;
    }
}

.close-modal {
    display: flex;
    position: absolute;
    top: 34px;
    right: 35px;

    @media(max-width: $breakpoint480) {
        top: 18px;
        right: 18px;
    }
}

