.search-input {
    display: flex;
    flex: auto;

    height: 60px;

    @media(max-width: $breakpoint1280) {
        height: 48px;
    }

    &__submit {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        
        width: 50px;
        height: 100%;

        @media(max-width: $breakpoint768) {
            width: 40px;
        }
    }
    &__input {
        height: 100%;
        width: 100%;
        
        padding: 0 20px 0 0;
    }
}