.swiper-thumbs {
    margin-top: 9px;

    @media(max-width: $breakpoint480) {
        display: none !important;
    }

    &__slide {
        cursor: pointer;

        &:last-child {

            &:before {
                content: url(../assets/img/icons/360.svg);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
            }
        }

        &:not(.swiper-slide-thumb-active) img {
            opacity: 0.6;
        }

        &.swiper-slide-thumb-active > img {
            border: 1px solid $main-color;
        }
    }
    &__img {
        border-radius: 6px;
        height: 160px;
        object-fit: cover;

        @media(max-width: $breakpoint1440) {
            height: auto;
        }
    }
}