// @import url("../assets/fonts/stylesheet.css");

html,
body {
    font-family: $font-family;
    scroll-behavior: smooth;
    background: $main-bg;
}

// Заголовки
h1 {
    color: $main-color;
}
h2 {
    font-family: $font-title;
    font-weight: 500;
    font-size: 32px;
    line-height: 131%;
    text-transform: uppercase;
    color: $black;

    @media(max-width: $breakpoint768) {
        font-size: 28px;
    }
    @media(max-width: $breakpoint480) {
        font-size: 22px;
    }
}
h3 {
    color: $main-text;
}

// База
.container {
    max-width: $container-width;
    width: 100%;
    margin: 0 auto;

    &__inner {
        margin-top: 36px;

        @media(max-width: $breakpoint768) {
            margin-top: 24px;
        }
        @media(max-width: $breakpoint480) {
            margin-top: 14px;
        }
    }

    @media(max-width: $container-width) {
        padding: 0 $padding-md;
    }
}
.section {

    &--top {
        margin-top: $section-top;

        @media(max-width: $breakpoint768) {
            margin-top: 30px;
        }

        &_xl {
            margin-top: $section-xl-top;

            @media(max-width: $breakpoint768) {
                margin-top: 80px;
            }
            @media(max-width: $breakpoint480) {
                margin-top: 50px;
            }
        }
        &_md {
            margin-top: $section-md-top;

            @media(max-width: $breakpoint768) {
                margin-top: 60px;
            }
            @media(max-width: $breakpoint480) {
                margin-top: 24px;
            }
        }
    }
}

.left-padding {
    padding-left: calc((100vw - $section-top) / 2);

    @media(max-width: $container-width) {
        padding-left: $padding-md;
    }
    @media(max-width: $breakpoint768) {
        padding-left: $padding-sm;
    }
}

.no-scroll {
    overflow: hidden;
}

.hidden {
    display: none;
}