@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');


// color
$main-color: #E8593F;
$accent-color: #8693A1;
$secondary-color: #EBB56A; 
$dark-color: #242424;
$black: #21120F;
$main-text: #4E4E4E;

// breakpoint 
$breakpoint1440: 1440 + px;
$breakpoint1280: 1280 + px;
$breakpoint1024: 1024 + px;
$breakpoint768: 768 + px;
$breakpoint480: 480 + px;
$breakpoint375: 375 + px;

// font-family
$font-family: "Montserrat", sans-serif;
$font-title: "Literata", serif;

// border-radius
$main-radius: 35px;

// container
$container-width: 1640px; 
$section-top: 60px; 
$section-xl-top: 140px; 
$section-md-top: 100px; 
$padding-md: 24px;
$padding-sm: 16px;
